@page "/monthlyreport"

@using Models
@inject IDataAccess _data
@inject IConfiguration _config

<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th>NIK</th>
            <th>Nama</th>
            @foreach (var month in months)
            {
                <th>@month.ToString("MMM yyyy")</th>
            }
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in attendanceMap)
        {
            <tr>
                <td>@data.Key.NIK</td>
                <td>@data.Key.Nama</td>
                @foreach (var month in months)
                {
                    @if (data.Value.ContainsKey(month))
                    {
                        <td>@data.Value[month]</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                }
                <td>@data.Value.Values.Sum()</td>
            </tr>
        }
    </tbody>
</table>
@code {
    private List<JoinData> attendanceData = new List<JoinData>();
    private List<DateTime> months = new List<DateTime>();

    Dictionary<Employee, Dictionary<DateTime, int>> attendanceMap = new Dictionary<Employee, Dictionary<DateTime, int>>();

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT employees.nik, employees.nama, attendance.date FROM employees JOIN attendance ON employees.nik = attendance.nik";
        attendanceData = await _data.LoadData<JoinData, dynamic>(sql, new { }, _config.GetConnectionString("default"));
        

        var groupedData = attendanceData.GroupBy(x => new { x.NIK, x.Nama });

        // Get unique months from the attendance data
        months = attendanceData.Select(x => DateTime.Parse(x.Date))
            .Select(x => new DateTime(x.Year, x.Month, 1))
            .Distinct()
            .OrderBy(x => x)
            .ToList();

        // Count the number of attendance per month and store it in a dictionary
        foreach (var group in groupedData)
        {
            var employee = new Employee { NIK = group.Key.NIK, Nama = group.Key.Nama };
            var Attendance = new Dictionary<DateTime, int>();

            foreach (var month in months)
            {
                Attendance.Add(month, group.Count(x => DateTime.Parse(x.Date).Year == month.Year && DateTime.Parse(x.Date).Month == month.Month));
            }
            attendanceMap.Add(employee, Attendance);
        }

        foreach(var key in attendanceMap.Keys)
        {
            Console.WriteLine("Key: " + key.NIK + " Value: " + string.Join(',', attendanceMap[key]));
        }
    }
}
